.indexPage {
  /* background-image: url('../../public/background.jpg'); */
  height: 100vh;
  padding: 20px;
  position: relative;
}

.contentWrap {
  width: 350px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  height: 50px;
  width: fit-content;
  padding: 0 10px;
  margin-bottom: 20px;
  align-self: center;
}

.theQuestioner {
  margin-bottom: 5px;
}

.theAnwser {
  min-height: 500px;
  line-height: 1.5;
}

.participants {
  display: contents;
  font-weight: 700;
}
